nav{
  display: flex;
  justify-content: space-between;
}
nav ul{
  display: flex;
  margin-left: 1000px;
  align-items: center;
  list-style: none;
  gap: 50px;
  padding:0 8px ;
  height: 72px;
  font-size: medium;
  font-weight: 500;
}